@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Overpass", sans-serif;
}

p {
  font-family: "Ubunto", sans-serif;
}

button {
  cursor: pointer;
}

body,
html {
  overflow-x: hidden;
}

:root {
  --Lightred: hsl(356, 100%, 66%);
  --VerylightredCTAhoverbackground: hsl(355, 100%, 74%);
  --Verydarkblueheadings: hsl(208, 49%, 24%);

  /* Neutral */

  --Whitetext: hsl(0, 0%, 100%);
  --Grayishbluefootertext: hsl(240, 2%, 79%);
  --Verydarkgrayishbluebodycopy: hsl(207, 13%, 34%);
  --Verydarkblackbluefooterbackground: hsl(240, 10%, 16%);

  /* Gradient */
  /* Background gradient - Intro/CTA mobile nav */

  --Verylightred: hsl(13, 100%, 72%);
  --Lightred: hsl(353, 100%, 62%);

  /*Background gradient - body*/

  --Verydarkgrayblue: hsl(237, 17%, 21%);
  --Verydarkdesaturatedblue: hsl(237, 23%, 32%);
}

@media (max-width: 600px) {
  header {
    background: linear-gradient(
      to right bottom,
      var(--Verylightred) 20%,
      var(--Lightred)
    );
    padding: 9vh 6vw;
    border-bottom-left-radius: 22vw;
  }
  nav {
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
  }
  .nav-menu {
    cursor: pointer;
  }
  header h1 {
    font-family: "Overpass", sans-serif;
    color: white;
    text-align: center;
    margin-top: 13vh;
  }
  header p {
    color: white;
    font-family: "Ubunto", sans-serif;
    text-align: center;
    font-size: 16px;
    opacity: 80%;
    margin: 2vh 0 6vh 0;
  }
  .container-1 {
    padding: 0 5vw 7vh 5vw;
  }
  .start {
    display: flex;
    justify-content: center;
  }
  .start button:first-child {
    margin-right: 4vw;
    background-color: white;
    border: none;
    width: 35vw;
    height: 7vh;
    font-size: 16px;
    font-weight: bold;
    color: var(--Lightred);
    border-radius: 10vw;
    cursor: pointer;
  }
  .start button:not(:first-child) {
    background: none;
    border: solid 2px white;
    width: 35vw;
    height: 7vh;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10vw;
    cursor: pointer;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0;
  }
  main h1 {
    color: var(--Verydarkblueheadings);
    font-size: 27px;
    margin-bottom: 4vh;
  }
  main p {
    width: 90vw;
    color: var(--Grayishbluefootertext);
    font-weight: bold;
    line-height: 3.7vh;
    margin-bottom: 6vh;
  }
  .designed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .designed img {
    margin-top: 3vh;
    margin-bottom: 7vh;
    width: 110vw;
  }
  .introducing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .robust {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(
      to right bottom,
      var(--Verydarkgrayblue),
      var(--Verydarkdesaturatedblue) 60%
    );
    border-top-right-radius: 20vw;
    border-bottom-left-radius: 20vw;
    margin-top: 20vw;
    padding-top: 5vh;
  }
  .state img:first-child {
    width: 100vw;
    position: relative;
    z-index: 2;
  }
  .state h1 {
    color: white;
    text-align: center;
  }
  .state p {
    font-weight: normal;
    text-align: center;
    opacity: 100%;
  }
  .free-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9vw;
  }
  .free-open img {
    margin-top: 7vw;
    margin-bottom: 7vw;
  }
  .free-open p {
    text-align: center;
    width: 80vw;
  }
  .powerful {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer {
    background-color: var(--Verydarkblackbluefooterbackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 22vw;
    padding: 17vw 0vw 11vw 0vw;
  }
  footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer h1 {
    font-family: "Overpass", sans-serif;
    color: white;
    font-size: 20px;
    margin-bottom: 6vw;
  }
  footer a {
    font-family: "Ubunto", sans-serif;
    color: white;
    opacity: 70%;
    text-decoration: none;
    font-size: 16px;
  }
  footer div > a {
    margin-bottom: 3vw;
  }
  footer img {
    margin-bottom: 20vw;
  }
  footer > div a:last-child {
    margin-bottom: 6vw;
  }
  .desktop {
    display: none;
  }
  .menu-open {
    top: 7em;
    border-radius: 8px;
    position: absolute;
    width: 90%;
    min-height: 50%;
    box-shadow: 0px 7px 11px 7px rgba(0, 0, 0, 0.35);
    background-color: white;
    z-index: 10;
    text-align: center;
    padding: 1.2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu-open ul {
    list-style: none;
  }
  .menu-open > ul li a {
    text-decoration: none;
    color: var(--Verydarkgrayishbluebodycopy);
    font-family: "Overpass", sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .menu-pai::after {
    content: url(../images/icon-arrow-dark.svg);
    position: relative;
    right: -2vw;
    bottom: 1vw;
  }
  .menu-open ul li:not(:last-child) {
    margin-bottom: 1.8em;
  }
  .underline {
    margin: 1em auto;
    height: 1px;
    width: 80%;
    background-color: var(--Verydarkgrayishbluebodycopy);
    opacity: 0.4;
  }
  .login-b {
    display: block;
    text-decoration: none;
    color: var(--Verydarkgrayishbluebodycopy);
    font-weight: bold;
    font-family: "Overpass", sans-serif;
    font-size: 1.5em;
  }
  .sign-b {
    display: block;
    margin: 0 auto;
    font-size: 1.5em;
    color: white;
    background: linear-gradient(to right, var(--Verylightred) 20%, var(--Lightred));
    text-decoration: none;
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    width: 7em;
    padding: 0.5em 0;
    border-radius: 50px;
    margin-top: 0.7em;
  }
  .menu-open ul ul {
    display: block;
    margin: 1em auto;
    padding: 1em;
    background-color: #EFEFF1;
    width: 85%;
    border-radius: 8px;
  }
  .menu-open ul ul li a {
    font-size: 1.3em;
  }
}

@media (min-width: 600px) {
  .mobile {
    display: none;
  }
  header {
    background: linear-gradient(
      to right,
      var(--Verylightred),
      var(--Lightred) 80%
    );
    padding-bottom: 12vh;
    border-bottom-left-radius: 5vw;
  }
  nav a {
    color: white;
    text-decoration: none;
    font-family: "Overpass", sans-serif;
  }
  .a-main > a {
    font-weight: bold;
  }
  nav a:not(:last-child) {
    margin-right: 3vw;
  }
  nav > .nav-links > ul > li > a::after {
    content: url(../images/icon-arrow-light.svg);
    position: relative;
    right: -0.6vw;
  }
  nav ul {
    list-style-type: none;
  }
  nav ul li {
    display: inline;
    position: relative;
  }
  nav ul ul {
    display: none;
    position: absolute;
    width: 14vw;
    left: 0;
    background-color: white;
    border-radius: 0.5vw;
    padding: 3.5vh 1.5vw;
  }
  nav ul ul li a {
    display: block;
    color: black;
    font-family: "Overpass", sans-serif;
  }

  nav ul ul li a:hover {
    font-weight: bold;
  }
  nav ul li:hover ul {
    display: block;
  }
  nav img:first-child {
    margin-right: 5vw;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    padding: 0 14vw;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .login {
    display: flex;
    align-items: center;
    font-family: "Overpass", sans-serif;
  }
  .login button {
    font-size: 1vw;
    cursor: pointer;
  }
  .login button:first-child {
    background: none;
    border: none;
    color: white;
  }
  .login button:not(:first-child) {
    background-color: white;
    border: none;
    border-radius: 5vw;
    width: 9vw;
    height: 6vh;
    font-weight: bold;
    color: var(--Lightred);
    margin-left: 2vw;
  }
  .login button:not(:first-child):hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.267);
    color: white;
  }
  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
  }
  .container-1 h1 {
    font-size: 3.5vw;
    margin-bottom: 1vh;
  }
  .container-1 p {
    opacity: 80%;
  }
  .start {
    margin-top: 7vh;
    display: flex;
    align-items: center;
  }
  .start button {
    width: 10vw;
    height: 6vh;
    background: none;
    border: none;
    font-family: "Overpass", sans-serif;
    font-size: 16px;
    border-radius: 2vw;
    font-weight: bold;
  }
  .start button:first-child {
    background-color: white;
    color: var(--Lightred);
  }
  .start button:first-child:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.267);
    color: white;
  }
  .start button:not(:first-child) {
    border: solid 1px white;
    color: white;
    margin-left: 1vw;
  }
  .start button:not(:first-child):hover {
    transition: 0.3s;
    background-color: white;
    color: var(--Lightred);
  }
  #h1-designed {
    display: flex;
    justify-content: center;
    margin-top: 16vh;
    color: var(--Verydarkgrayblue);
  }
  .intro {
    display: flex;
    position: relative;
    bottom: 6vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 10vw;
  }
  .intro p {
    width: 40vw;
    font-family: "Ubunto", sans-serif;
    line-height: 1.8vw;
    color: var(--Verydarkgrayishbluebodycopy);
    font-weight: bold;
    opacity: 60%;
  }
  .intro img {
    width: 55vw;
    transform: translateX(13vw);
  }
  .intro h2 {
    font-family: "Overpass", sans-serif;
    color: var(--Verydarkdesaturatedblue);
    font-size: 24px;
    margin-bottom: 5vh;
  }
  .p-padding {
    margin-bottom: 8vh;
  }
  .state-d {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    background-image: linear-gradient(
      to right,
      var(--Verydarkgrayblue),
      var(--Verydarkdesaturatedblue) 80%
    );
    height: 25vw;
    border-bottom-left-radius: 6vw;
    border-top-right-radius: 6vw;
    color: white;
  }
  .state-d img {
    width: 39vw;
  }
  .state-d h1 {
    font-size: 30px;
    margin-bottom: 2vh;
  }
  .state-d p {
    opacity: 70%;
    width: 38vw;
  }
  .free-d {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw 0 0;
    margin-top: 10vw;
  }
  .free-d img {
    width: 55vw;
    transform: translateX(-15.5vw);
  }
  .free-d h2 {
    font-family: "Overpass", sans-serif;
    color: var(--Verydarkdesaturatedblue);
    font-size: 24px;
    margin-bottom: 5vh;
  }
  .free-d p {
    width: 35vw;
    font-family: "Ubunto", sans-serif;
    line-height: 1.8vw;
    color: var(--Verydarkgrayishbluebodycopy);
    font-weight: bold;
    opacity: 60%;
  }
  footer img {
    width: 6vw;
  }
  footer {
    background-color: var(--Verydarkgrayblue);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 30vh;
    padding: 4vh 15vw;
    margin-top: 10vh;
    border-top-right-radius: 5vw;
  }
  footer div:not(:first-child) {
    display: flex;
    flex-direction: column;
  }
  footer h1 {
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 2vh;
    margin-top: 1vh;
  }
  footer a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    opacity: 85%;
    font-family: "Overpass", sans-serif;
  }
  footer a:not(:last-child) {
    margin-bottom: 1vh;
  }
  footer a:hover {
    text-decoration: underline;
  }
}

.on {
  display: none;
}